/*configuration générale possible*/
html,body{
    font-family: 'Raleway', sans-serif;
    padding-left: 2%;
    padding-right: 2%;
    height: 1440px;
}
.colorBlanc{
    background-color: #DEEBFF;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexStart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sizeLiens{
    width: 20%;
}

.colorLiens{
    color: black;
    font-weight: bold;
}
.decorationNone{
    text-decoration: none;
}
/*Mettre en %*/
.logo{
    width: 62px;
    height: 19px;
}
.sizeLien{
    width:160px;
    height: 99px;
}

.barre:hover{
    border-top: 1px solid blue;
}
.barre1:hover{
    color: #0065fc;
}
/*Barre de recherche*/
/*Mettre en %*/
.bordureSearch{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #d9d9d9;
}
.bordureNone{
    border: none;
}
.paddingSearch{
    padding-left: 20px;
}
.backGris{
    background-color: #d9d9d9 ;
}
.backBleu{
    background-color: #0065fc;
}
.colorBleu{
    color: #0065fc;
}
.recherche{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconSize{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.buttonSize{
    width: 30%;
    height: 50px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
}
/*Filtres*/
.barreFilter{
    font-weight: bold;
}
.filtres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.txt{
    display: flex;
    align-items: center;
    flex-direction: row;
}
/*icone info*/
.iconi{
    margin-right: 1%;
    color: #0065fc;
}
.parentIcon{
    width: 20px;
    height: 20px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    margin-right: 5px;
}

/*Section Cartes*/
/*flex 1 et 2 = 2x + de taille que pop*/
.hebergBloc{
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}
.titleBloc1{
    margin-top: 4%;
    margin-left: 4%;
}
.popBloc{
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
}
.cards{
    width: 25%;
    height: 25%;
    margin-left: 5%;
    border-radius: 20px;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 8%;
}

footer{
    background-color: #d9d9d9;
    display: block;
    justify-content: flex-end;
    align-items: flex-end;
    width: auto;
    height: 15%;
    margin-top: 5%;
}
.blocPied{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
}
ul{
    list-style: none;
}
.colorLien2{
    color: black;
}
.propos{
    align-items: flex-start;
}

