*{
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Raleway', sans-serif;
}

nav{
    margin: 0;
    width: 100%;
    height: 100px;
}
nav img{
    width: 5%;
    margin: 0;
}
.blocNav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    margin: 0;
    width: 25%;
    height: 100%;
}
nav a{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.boutonNav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav a:hover{
    border-top: 1px solid blue;
    color: #0065fc;
}

/*Berre de recherche*/
.barreRecherche{
    width: 100%;
    height: 25%;
}

/*Filtres*/
.barreFilter{
    font-weight: bold;
}
.filtres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.txt{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 0;
}
/*icone info*/
header p{
    width: 100%;
}
.txt i{
    margin-right: 1%;
    color: #0065fc;    
}
.parentI{
    width: 20px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    margin-right: 1%;
}
.fa-info{
    padding-left: 35%;
    color: #0065fc;
}




/*Section Cartes*/
.titlePop{
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 2%;
    padding-top: 5%;
}
.conteneurs {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fa-chart-line{
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #0065fc;
    margin: 0;
    padding-right: 10%;

}
.grey{
    color: #d9d9d9;
}

.conteneurs_hebergement{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 65%;
    border-radius: 20px;
    margin: 0;
    height: 100%;
    
}
.conteneurs_populaire{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 30%;
    border-radius: 20px;
    margin: 0;
}
.conteneurs h2{
    margin-top: 4%;
    margin-left: 4%;
}
.cardsHeb{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    height: 60%;
    margin-top: 5%;
}
.blocLien1{
    display: block;
    height: 100%;
    text-decoration: none;
    color: black;
    margin: 0;
}
.hebTaille{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 5%;
    box-shadow: #d9d9d9 1px 1px 10px 0;
}
.conteneurs_hebergement h3{
    margin: 0;
}
.conteneurs_hebergement p{
    margin: 0;
}

.conteneurs_hebergement img{
    width: 97%;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border: white 5px  solid;
}
.leg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    height: 35%;
    font-size: 15px;
}




.conteneurs_populaire figure {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100%;
    box-shadow: #d9d9d9 1px 1px 10px 0;
    border-radius: 20px;
}
.cardsPop{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    width: 86%;
    height: 84%;
    align-self: center;
}
.popTaille{
    width: 100%;
    height: 25%;
    border-radius: 20px;
    background-color: white;
}
.conteneurs_populaire img{
    width: 40%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    border: #ffffff solid 5px;
}
.conteneurs_populaire h3{
    margin: 0;
    font-size: 15px;
}
.conteneurs_populaire p{
    margin: 0;
    font-size: 14px;
}

.blocLien{
    flex-direction: row;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;

}
.legende{
    display: flex;
    flex-wrap: wrap;
    height: 35%;
    padding-top: 5%;
}
.legPop{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.note{
    display: flex;
    margin-block: auto;
    margin: 0;
    align-items: flex-end;
    height: 40%;
}

.afficherplus{
    width: 12%;
    height: 5%;
    margin: 0;
    margin-bottom: 5%;
    text-decoration: none;
    color: black;
    margin-left: 5%;
}






























/*Activités*/
.act{
    padding-top: 10px;
    padding-bottom: 20px;
}

.conteneurAct{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    
}

.conteneurAct figure{
    box-shadow: #f2f2f2 2px 2px 4px 4px;
    border-radius: 20px;
}
.conteneurAct img{
    width: 300px;
    height: 444px;
    object-fit: cover;
    border-radius: 20px;
}
.conteneurAct figcaption{
    display: flex;
    align-items: center;
}





/*FOOTER*/

footer {
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding-right: 400px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    height: 180px;
    font-size: medium;
}

footer section {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
}

footer a {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}
